In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import math
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

import time
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2023-08-31 00:55:43

In [2]:
def metrics_time_series(y_true, y_pred):
    mae = round         (mean_absolute_error(y_true, y_pred), 7)
    mse = round         (mean_squared_error(y_true, y_pred), 7)
    rmse= round         (np.sqrt(mean_squared_error(y_true, y_pred)), 7)
    mape= round         (mean_absolute_percentage_error(y_true, y_pred), 7)
    r2  = round         (r2_score(y_true, y_pred), 7)
   
    return mae, mse, rmse, mape, r2

In [3]:
df=pd.read_csv('data2.csv')
d = 'ADAK'
print('Number of rows and columns:', df.shape)
df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'data2.csv'

In [ ]:
df=pd.read_csv('WBG_ADAK.csv')
d = 'ADAK'
print('Number of rows and columns:', df.shape)
df.head(5)

Number of rows and columns: (1096, 10)

,DO_org,DO_w,DO_b,DO_g,Unnamed: 4,Unnamed: 5,Unnamed: 6,DOE_w,DOE_b,DOE_g
0,7.578252,7.569668,7.611028,7.616017,NaN,NaN,NaN,0.008584,-0.032776,-0.037765
1,7.576823,7.567345,7.608721,7.614087,NaN,NaN,NaN,0.009478,-0.031898,-0.037264
2,7.613978,7.604609,7.645992,7.649406,NaN,NaN,NaN,0.009370,-0.032014,-0.035428
3,7.589685,7.579819,7.621189,7.625750,NaN,NaN,NaN,0.009865,-0.031505,-0.036066
4,7.596830,7.588037,7.629403,7.633458,NaN,NaN,NaN,0.008793,-0.032573,-0.036628

In [ ]:
do = df.DO_org
dow =df.DO_w
dob =df.DO_b
dog =df.DO_g

doew =df.DOE_w
doeb =df.DOE_b
doeg =df.DOE_g

In [ ]:
df_results = pd.DataFrame()

In [ ]:
name = "Weiss"
mae, mse, rmse, mape, r2 = metrics_time_series( do, dow)
res = pd.DataFrame([name, mae, mse, rmse, mape, r2], index= ["Name", "mae", "mse","rmse", "mape", "r2"]).T

df_results = df_results.append(res)

In [ ]:
name = "Benson"
mae, mse, rmse, mape, r2 = metrics_time_series( do, dob)
res = pd.DataFrame([name, mae, mse, rmse, mape, r2], index= ["Name", "mae", "mse","rmse", "mape", "r2"]).T

df_results = df_results.append(res)

In [ ]:
name = "Garcia"
mae, mse, rmse, mape, r2 = metrics_time_series( do, dog)
res = pd.DataFrame([name, mae, mse, rmse, mape, r2], index= ["Name", "mae", "mse","rmse", "mape", "r2"]).T

df_results = df_results.append(res)

In [ ]:
df_results

     Name       mae       mse      rmse      mape        r2
0   Weiss  0.009221  0.000085  0.009231  0.001215  0.992753
0  Benson  0.032105  0.001031  0.032109  0.004228  0.912324
0  Garcia  0.036457  0.001347  0.036694  0.004809  0.885494